<% if movie.complete? %>
	<h2><%= movie.title %></h2>
<% else %>
	<p>The movie so far...</p>
<% end %>
<div class="movie">
	<p>
		<% movie.blanks_to_render.each do |blank| %>
			<%= render blank %>
		<% end %>
	</p>
</div>