<% if movie.partly_filled_out? %>
	<p>The movie so far...</p>
<% end %>
<div class="movie">
	<% if movie.complete? %>
		<h1 class='movie_title'><%= movie.title %></h1>
	<% end %>
	<p class="movie_description">
		<% movie.blanks_to_render.each do |blank| %>
			<%= render blank %>
		<% end %>
	</p>
</div>