<h2>Party Game Beta Wooo!</h2>

<p>You are:</p>
<%= turbo_frame_tag "user_#{@user.id}" do %>
	<%= render @user %>
<% end %>

<%= form_with model: @room do |form| %>
  <div class="actions">
    <%= form.submit "Create a Room" %>
  </div>
<% end %>