<h2><%= @game.template_object.name %></h2>

<%= render partial: 'final_state', locals: { game: @game } %>

<ul class="nav">
	<li><%= link_to 'Back to Room', room_path(@game.room) %></li>
	<li><%= link_to 'Home', root_path %></li>
</ul>