<h2><%= @game.template_object.name %></h2>

<%= render partial: 'final_state', locals: { game: @game } %>

<div class="nav">
	<%= link_to 'Back to Room', room_path(@game.room) %>
	<%= link_to 'Home', root_path %>
</div>