<%= turbo_frame_tag "room_#{room.id}", target: "_top" do %>
	<% if room.game.nil? %>
		<%= render partial: "rooms/lobby", locals: { room: room } %>
	<% elsif !room.game.includes_player?(room.viewer) %>
		<p>The game is already started. You'll have to wait for the next one.</p>
	<% else %>
		<%= render room.game %>
	<% end %>
<% end %>