<%= turbo_stream_from @room %>

<% if @room.game.present? %>
	<% render @room.game %>
<% else %>
	<h1>Users:</h1>
	<% @room.room_users.each do |room_user| %>
		<%= render room_user %>
	<% end %>
<% end %>