<%= turbo_stream_from @room %>

<h1>Users:</h1>
<%= turbo_frame_tag "room_users" do %>
	<% @room.room_users.each do |room_user| %>
		<%= render room_user %>
	<% end %>
<% end %>
<%= render @room.game %>
