/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #fff;
  color: #333;
  margin: 0 auto;
  max-width: 600px;
  padding: 12px;
}

p {
	margin: 15px 0px;
}

.nav {
  margin-top: 50px;
  list-style-type: none;
}
.nav li {
  display: inline;
}

.nav li::after {
  content: " ";
  word-spacing: 1em;
  background-image: linear-gradient(
      -0.2turn,
      transparent 0 calc(50% - 0.03em),
      currentcolor 0 calc(50% + 0.03em),
      transparent 0
  );
}

.story {
  padding: 5px;
  margin: 15px 0px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 6px;
}

.story_title {
  border-bottom: 1px solid #eeeeee;
}

.story_description {
	font-size: 25px;
	line-height: 40px;
}

.fill_in_the_blank {
	text-decoration: underline;
	font-weight: bold;
  border-radius: 6px;
  padding: 2px 6px;
}

input:not([type='checkbox']):not([type='radio']),
input[type='range'],
select,
button,
textarea {
  -webkit-appearance: none;
}

input[type=submit] {
  padding: 10px;
  font-weight: 600;
  font-size: 20px;
  line-height: 34px;
  background: lightgray;
}

input[type=submit].secondary-action {
  padding: none;
  font-weight: normal;
  text-transform: none;
  font-size: 16px;
  line-height: 1em;
  background: none;
  color: #0076d1;
}

input[type=submit].secondary-action:hover {
  background: black;
  color: white;
}

input[type=submit]:hover {
  background: gray;
}

input:not([type='checkbox']):not([type='radio']),
select {
  display: inline;
}

input[type=text] {
  padding: 1rem 1rem 1rem;
  font-size: 20px;
  max-width: 200px;
}

select {
  border-radius: 6px;
  font-size: 20px;
  padding: 16px;
  padding-right: 35px;
}


.users {
	font-size: 20px;
  margin: 20px 0;
}

.user_tag {
  padding: 5px 10px;
}

input[type=submit].inline {
	display: inline;
}

.previous_games {
  list-style-type: none;
}

a.url {
  padding: 15px;
  border-radius: 6px;
  background: #efefef;
  cursor: pointer;
  text-align: center;
  display: block;
}

a.url:hover {
  background: #ddd;
  color: #0076d1;
}

.hidden {
  display: none;
}

details.options {
  background: none;
}

details.options summary {
  background: none;
}

/* DEBUG */

.debug turbo-frame {
	display: block;
	border: 1px solid blue;
}

.debug .story {
	border: 1px solid purple;
}

.debug .fill_in_the_blank {
	border: 1px solid green;
}


