/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #fff;
  color: #333;
  margin: 10px auto;
  max-width: 600px;
}

p {
	margin: 15px 0px;
}

.nav {
  margin-top: 50px;
}

.movie {
  padding: 5px;
  margin: 15px 0px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 6px;
}

.movie_title {
  border-bottom: 1px solid #eeeeee;
}

.movie_description {
	font-size: 25px;
	line-height: 40px;
}

.fill_in_the_blank {
	text-decoration: underline;
	font-weight: bold;
}

input[type=submit] {
  display: block;
  padding: 10px;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 20px;
  letter-spacing: 1px;
  line-height: 38px;
  overflow: hidden;
  background: #4dbecf;
  border-radius: 6px;
  box-shadow: 0 15px 30px rgba(black,.1);
  border: 0;
  cursor: pointer;
  transition: all .3s ease;
}

input[type=text] {
	display: inline;
  margin: 0 auto;
  border-radius: 6px;
  padding: 1rem 1rem 1rem;
  font-size: 20px;
  max-width: 200px;
}

select {
  border-radius: 6px;
  padding: 1rem 1rem 1rem;
  font-size: 20px;
}

.users {
	font-size: 20px;
  margin: 20px 0;
}

.users p {
	padding: 5px;
	border-left: 1px solid gray;
}

input[type=submit].inline {
	display: inline;
}


/* DEBUG */

.debug turbo-frame {
	display: block;
	border: 1px solid blue;
}

.debug .movie {
	border: 1px solid purple;
}

.debug .fill_in_the_blank {
	border: 1px solid green;
}


