/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
.debug turbo-frame {
	display: block;
	border: 1px solid blue;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #fff;
  color: #333;
  margin: 10px;
}

.debug .movie {
	border: 1px solid purple;
}

.movie {
	font-size: 25px;
	line-height: 40px;
}

.debug .fill_in_the_blank {
	border: 1px solid green;
}

.fill_in_the_blank {
	text-decoration: underline;
	font-weight: bold;
}


